<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Крестики_Нолики</title>
    <script>
        const serverMatrix = {{ matrix | tojson }};
        const game_id = {{ uuid | tojson }};
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">


</head>

<body style="background-color: black;">
    <div id="myBox" class="loyoutOff">
        <button data-index="0" type="button" class="GameBtn"></button>
        <button data-index="1" type="button" class="GameBtn"></button>
        <button data-index="2" type="button" class="GameBtn"></button>
        <button data-index="3" type="button" class="GameBtn"></button>
        <button data-index="4" type="button" class="GameBtn"></button>
        <button data-index="5" type="button" class="GameBtn"></button>
        <button data-index="6" type="button" class="GameBtn"></button>
        <button data-index="7" type="button" class="GameBtn"></button>
        <button data-index="8" type="button" class="GameBtn"></button>
    </div>
    <form id="MyForm" class="MyForm {% if %}">
        <div style="width: 100px; margin: 10px 60px;">
            <label style="color: chocolate;">Login:</label>
            <input id="login" type="text">
        </div>
        <div style="width: 100px; margin: 10px 60px; ">
            <label style="color: chocolate;">Password:</label>
            <input id="password" type="password">
        </div>
        <button id="registr" type="submit"
            style="margin: 0 100px; width: 100px; height: 50px; color: rgb(235, 231, 229); background-color: rgb(93, 143, 93);">
            Регистрация
        </button>
        <button id="login" type="submit"
            style="background-color: chocolate; margin: 0 120px; width: 60px; height: 30px;">
            Войти
        </button>

    </form>
    <script src="{{ url_for('static', filename='logic.js') }}"></script>

</body>

</html>